HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT: 12px 宋体, Arial, Helvetica, sans-serif
}
BUTTON {
	FONT: 12px 宋体, Arial, Helvetica, sans-serif
}
INPUT {
	FONT: 12px 宋体, Arial, Helvetica, sans-serif
}
SELECT {
	FONT: 12px 宋体, Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT: 12px 宋体, Arial, Helvetica, sans-serif
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
A {
	TEXT-DECORATION: none
}
ADDRESS {
	FONT-STYLE: normal
}
CAPTION {
	FONT-STYLE: normal
}
CODE {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
CODE {
	FONT-FAMILY: courier new, courier, monospace
}
KBD {
	FONT-FAMILY: courier new, courier, monospace
}
PRE {
	FONT-FAMILY: courier new, courier, monospace
}
SAMP {
	FONT-FAMILY: courier new, courier, monospace
}
SMALL {
	FONT-SIZE: 12px
}
LEGEND {
	COLOR: #000000
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
BUTTON {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
BLOCKQUOTE {
	QUOTES: none
}
Q {
	QUOTES: none
}
BLOCKQUOTE:before {
	CONTENT: none
}
BLOCKQUOTE:after {
	CONTENT: none
}
Q:before {
	CONTENT: none
}
Q:after {
	CONTENT: none
}
A:link {
	COLOR: #333
}
A:visited {
	COLOR: #333
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
BODY {
	BACKGROUND: #fff; COLOR: #333
}
.w980 {
	MARGIN: 0px auto; WIDTH: 980px
}
.w978 {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 0px auto; WIDTH: 978px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.cFloat {
	ZOOM: 1; CLEAR: both
}
.cFloat:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: "."
}
.clear {
	LINE-HEIGHT: 0; CLEAR: both; FONT-SIZE: 0px
}
.txtin {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; HEIGHT: 13px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; PADDING-TOP: 3px
}
.txtcut {
	TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.iradio {
	MARGIN: 3px 2px 0px 0px
}
INPUT.w20 {
	WIDTH: 20px
}
.top {
	MARGIN-BOTTOM: 5px; BACKGROUND: url(index_repeat.png) repeat-x left top; HEIGHT: 31px; COLOR: #777
}
.top .welcome {
	LINE-HEIGHT: 29px; WIDTH: 49%; FLOAT: left
}
.welcome A:link {
	COLOR: #ff6600
}
.welcome A:visited {
	COLOR: #ff6600
}
.welcome .gline {
	COLOR: #ccc
}
.top .toptools {
	LINE-HEIGHT: 29px; WIDTH: 49%; FLOAT: right
}
.toptools A {
	FLOAT: right
}
.toptools SPAN {
	FLOAT: right
}
.toptools EM {
	FLOAT: right
}
.toptools A {
	MARGIN: 0px 4px
}
.toptools .account {
	PADDING-LEFT: 4px; PADDING-RIGHT: 17px; BACKGROUND: url(index2011.png) no-repeat right -552px; MARGIN-LEFT: 0px; CURSOR: pointer; MARGIN-RIGHT: 4px
}
.toptools .baibao {
	PADDING-LEFT: 4px; PADDING-RIGHT: 17px; BACKGROUND: url(index2011.png) no-repeat right -552px; MARGIN-LEFT: 0px; CURSOR: pointer; MARGIN-RIGHT: 4px
}
.toptools .account:link {
	COLOR: #ff6600
}
.toptools .account:visited {
	COLOR: #ff6600
}
.toptools .newsNum {
	MARGIN-TOP: 8px; PADDING-RIGHT: 6px; BACKGROUND: url(index2011.png) no-repeat right -310px; HEIGHT: 12px
}
.newsNum EM {
	LINE-HEIGHT: 12px; PADDING-LEFT: 3px; DISPLAY: block; BACKGROUND: url(index2011.png) no-repeat -945px -322px; FLOAT: none; COLOR: #ff6600
}
.toptools .addrop {
	BORDER-BOTTOM: #ff6600 0px solid; BORDER-LEFT: #ff6600 1px solid; PADDING-LEFT: 3px; PADDING-RIGHT: 16px; BACKGROUND: #fff; BORDER-TOP: #ff6600 0px solid; BORDER-RIGHT: #ff6600 1px solid
}
.toptools .addrop {
	BORDER-BOTTOM: #ff6600 0px solid; BORDER-LEFT: #ff6600 1px solid; PADDING-LEFT: 3px; PADDING-RIGHT: 16px; BACKGROUND: #fff; BORDER-TOP: #ff6600 0px solid; BORDER-RIGHT: #ff6600 1px solid
}
.topdrop {
	Z-INDEX: 99999; BORDER-BOTTOM: #ff6600 1px solid; POSITION: absolute; BORDER-LEFT: #ff6600 1px solid; BACKGROUND: #fff; BORDER-TOP: #ff6600 0px solid; TOP: 29px; BORDER-RIGHT: #ff6600 1px solid
}
.toptools .topdrop A {
	LINE-HEIGHT: 23px; MARGIN: 0px; PADDING-LEFT: 4px; DISPLAY: block; FLOAT: none
}
.myaccount {
	WIDTH: 67px; LEFT: 930px
}
.mybaibao {
	WIDTH: 55px; LEFT: 1009px
}
.mangohead {
	HEIGHT: 86px
}
.mangohead .logo {
	WIDTH: 318px; BACKGROUND: url(index2011.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 79px
}
.logo H1 A {
	TEXT-INDENT: -9999px; WIDTH: 318px; DISPLAY: block; HEIGHT: 79px
}
.mangohead .versions {
	WIDTH: 166px; FLOAT: right; PADDING-TOP: 10px
}
.versions A {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 77px; MARGIN-BOTTOM: 8px; BACKGROUND: url(index2011.png) no-repeat right 0px; FLOAT: left; HEIGHT: 28px; MARGIN-LEFT: 6px; OVERFLOW: hidden
}
.versions A.big5 {
	BACKGROUND-POSITION: -821px 0px
}
.versions A.dream3g {
	BACKGROUND-POSITION: right 0px
}
.versions A.qmango {
	BACKGROUND-POSITION: -738px 0px; COLOR: #049603
}
.versions A.tuan {
	BACKGROUND-POSITION: -655px 0px; COLOR: #ff6600
}
.mangohead .tobaner {
	MARGIN-TOP: 10px; WIDTH: 468px; DISPLAY: inline; FLOAT: left; HEIGHT: 60px; MARGIN-LEFT: 20px; OVERFLOW: hidden
}
.mainNav {
	MARGIN-BOTTOM: 10px; BACKGROUND: url(index2011.png) no-repeat 0px -86px; HEIGHT: 35px; CLEAR: both; OVERFLOW: hidden
}
.mainNav UL {
	MARGIN-LEFT: 22px
}
.mainNav LI {
	FLOAT: left
}
.mainNav LI A {
	MARGIN-TOP: 4px; PADDING-RIGHT: 3px; BACKGROUND: url(http://wimg.mangocity.com/img/home/2011/navline.png) no-repeat right center; FLOAT: left
}
.mainNav LI A SPAN {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 31px; PADDING-LEFT: 13px; PADDING-RIGHT: 8px; DISPLAY: block; WHITE-SPACE: nowrap; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.mainNav LI.last A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.mainNav LI A.on {
	BACKGROUND: url(index2011.png) no-repeat right -131px
}
.mainNav LI A.current {
	BACKGROUND: url(index2011.png) no-repeat right -131px
}
.mainNav LI A.on SPAN {
	BACKGROUND: url(index2011.png) no-repeat -683px -162px; COLOR: #333
}
.mainNav LI A.current SPAN {
	BACKGROUND: url(index2011.png) no-repeat -683px -162px; COLOR: #333
}
.mangofocus {
	MARGIN-BOTTOM: 10px; HEIGHT: 290px
}
.searchBox {
	BORDER-BOTTOM: #ff7a00 2px solid; BORDER-LEFT: #ff7a00 2px solid; WIDTH: 316px; FLOAT: left; HEIGHT: 286px; BORDER-TOP: #ff7a00 2px solid; BORDER-RIGHT: #ff7a00 2px solid
}
.searchBox .boxtit {
	LINE-HEIGHT: 38px; PADDING-LEFT: 43px; BACKGROUND: url(index2011.png) no-repeat -239px -122px; HEIGHT: 38px; MARGIN-LEFT: 6px; FONT-SIZE: 16px
}
.searchBox DL {
	POSITION: relative; WIDTH: 308px; HEIGHT: 246px; MARGIN-LEFT: 6px
}
.searchBox DL DT {
	POSITION: absolute; LINE-HEIGHT: 25px; TEXT-INDENT: 24px; WIDTH: 75px; BACKGROUND: url(index2011.png) no-repeat -243px -261px; HEIGHT: 25px; TOP: 0px; CURSOR: pointer; LEFT: 0px
}
.searchBox DL DT.on {
	BACKGROUND-POSITION: -243px -288px; COLOR: #fff; FONT-WEIGHT: bold
}
.searchBox DL DD {
	WIDTH: 235px; BACKGROUND: url(index2011.png) no-repeat 0px -131px; HEIGHT: 243px; MARGIN-LEFT: 71px
}
#dt_travel {
	TOP: 0px
}
#dt_hotel {
	TOP: 26px
}
#dt_flight {
	TOP: 52px
}
#dt_zuche {
	TOP: 78px
}
#dt_youlun {
	TOP: 104px
}
#dt_piao {
	TOP: 130px
}
#dt_visa {
	TOP: 156px
}
.producttype {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 22px; PADDING-TOP: 8px
}
.producttype INPUT {
	FLOAT: left
}
.producttype LABEL {
	FLOAT: left
}
.producttype LABEL {
	LINE-HEIGHT: 22px; COLOR: #777
}
.producttype INPUT {
	MARGIN: 4px 1px 0px 9px
}
.flighttype {
	PADDING-LEFT: 5px
}
.searchul {
	WIDTH: 100%
}
.searchul UL {
	WIDTH: 215px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 15px
}
.searchul LI {
	FLOAT: left
}
.searchul LI.w210 {
	WIDTH: 210px
}
.searchul LI.w105 {
	WIDTH: 105px
}
.searchul LI LABEL {
	LINE-HEIGHT: 28px; DISPLAY: block; HEIGHT: 28px; COLOR: #787878
}
.searchul LI SPAN {
	FLOAT: left
}
.searchul LI EM {
	FLOAT: left
}
.searchul LI INPUT {
	FLOAT: left
}
.searchul LI SELECT {
	FLOAT: left
}
.input_label {
	BACKGROUND: url(index2011.png) no-repeat right -242px
}
.input_label INPUT {
	BACKGROUND: url(index2011.png) no-repeat right -242px
}
.select_label {
	BACKGROUND: url(index2011.png) no-repeat right -242px
}
.select_label INPUT {
	BACKGROUND: url(index2011.png) no-repeat right -242px
}
.date_label {
	BACKGROUND: url(index2011.png) no-repeat right -242px
}
.date_label INPUT {
	BACKGROUND: url(index2011.png) no-repeat right -242px
}
.searchul LI SELECT {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.searchBox .input_label {
	PADDING-LEFT: 2px; BACKGROUND-POSITION: -683px -263px
}
.searchBox .select_label {
	PADDING-LEFT: 2px; BACKGROUND-POSITION: -683px -263px
}
.searchBox .date_label {
	PADDING-LEFT: 2px; BACKGROUND-POSITION: -683px -263px
}
.searchBox .input_label INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 3px; LINE-HEIGHT: 15px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; HEIGHT: 15px; COLOR: #787878; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 3px
}
.searchBox .select_label INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 3px; LINE-HEIGHT: 15px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; HEIGHT: 15px; COLOR: #787878; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 3px
}
.searchBox .date_label INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 3px; LINE-HEIGHT: 15px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; HEIGHT: 15px; COLOR: #787878; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 3px
}
.searchBox .select_label INPUT {
	BACKGROUND-POSITION: right -220px
}
.searchBox .date_label INPUT {
	BACKGROUND-POSITION: right -285px
}
INPUT.w197 {
	WIDTH: 197px
}
INPUT.w92 {
	WIDTH: 92px
}
SELECT.w203 {
	WIDTH: 203px
}
SELECT.w98 {
	WIDTH: 98px
}
.btnwrap {
	TEXT-ALIGN: center; HEIGHT: 41px; CLEAR: both; PADDING-TOP: 15px
}
.carbtnwrap {
	HEIGHT: 37px; PADDING-TOP: 5px
}
.btn140 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; LINE-HEIGHT: 37px; WIDTH: 140px; BACKGROUND: url(index2011.png) no-repeat -241px -224px; HEIGHT: 37px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.piaohot {
	LINE-HEIGHT: 19px; WIDTH: 212px; MARGIN-LEFT: 15px; CLEAR: both
}
.piaohot EM {
	COLOR: #008800
}
.piaohot A {
	WHITE-SPACE: nowrap; MARGIN-RIGHT: 10px
}
.piaohot P {
	MARGIN-BOTTOM: 5px
}
.picfocus {
	WIDTH: 650px; FLOAT: right; HEIGHT: 290px; OVERFLOW: hidden
}
.bigpic {
	WIDTH: 650px; HEIGHT: 290px; OVERFLOW: hidden
}
.picnum {
	POSITION: relative; TEXT-ALIGN: right; LINE-HEIGHT: 35px; MARGIN-TOP: -35px; WIDTH: 650px; HEIGHT: 35px
}
.picnum LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: inline; FONT-FAMILY: Arial; BACKGROUND: #333; COLOR: #fff; CURSOR: pointer; MARGIN-RIGHT: 2px; PADDING-TOP: 2px
}
.picnum SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: inline; FONT-FAMILY: Arial; BACKGROUND: #333; COLOR: #fff; CURSOR: pointer; MARGIN-RIGHT: 2px; PADDING-TOP: 2px
}
.picnum A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: inline; FONT-FAMILY: Arial; BACKGROUND: #333; COLOR: #fff; CURSOR: pointer; MARGIN-RIGHT: 2px; PADDING-TOP: 2px
}
.picnum .on {
	BACKGROUND: #ff6600
}
.contwrap {
	WIDTH: 100%; FLOAT: left
}
.contmid {
	MARGIN: 0px 210px 10px 320px; WIDTH: 450px
}
.contleft {
	MARGIN: 0px 0px 10px -980px; WIDTH: 320px; FLOAT: left
}
.contright {
	MARGIN: 0px 0px 10px -210px; WIDTH: 210px; FLOAT: left
}
.contmid .probox {
	MARGIN: 0px auto
}
.probox .protit {
	HEIGHT: 29px
}
.protit .protab {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; MARGIN: 3px 0px 0px 5px; WIDTH: 79px; FLOAT: left; HEIGHT: 25px; FONT-SIZE: 14px
}
.protit .viewmore {
	LINE-HEIGHT: 29px; FLOAT: right; MARGIN-RIGHT: 10px
}
.contright .protit {
	BACKGROUND: url(index_repeat.png) repeat-x left -182px
}
.contright .probox {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 208px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.hotarea {
	MARGIN-BOTTOM: 10px; HEIGHT: 181px; OVERFLOW: hidden
}
.travelnews {
	MARGIN-BOTTOM: 10px; HEIGHT: 181px; OVERFLOW: hidden
}
.hotarea .protab {
	COLOR: #ff6600
}
.hotarea UL {
	MARGIN: 0px auto; WIDTH: 188px; PADDING-TOP: 4px
}
.travelnews UL {
	MARGIN: 0px auto; WIDTH: 188px; PADDING-TOP: 4px
}
.hotarea LI {
	LINE-HEIGHT: 24px; PADDING-LEFT: 8px; WIDTH: 180px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; BACKGROUND: url(index2011.png) no-repeat -972px -610px; HEIGHT: 24px; OVERFLOW: hidden
}
.travelnews LI {
	LINE-HEIGHT: 24px; PADDING-LEFT: 8px; WIDTH: 180px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; BACKGROUND: url(index2011.png) no-repeat -972px -610px; HEIGHT: 24px; OVERFLOW: hidden
}
.hkstate {
	WIDTH: 210px; MARGIN-BOTTOM: 10px; HEIGHT: 80px; OVERFLOW: hidden
}
.hkstate A {
	WIDTH: 210px; DISPLAY: block; BACKGROUND: url(http://wimg.mangocity.com/img/home/banner/banner_CTS.jpg) no-repeat left top; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 80px
}
.mchkstate A {
	BACKGROUND: url(http://wimg.mangocity.com/img/home/banner/banner_ga.jpg) no-repeat left top
}
.pro_tuan {
	MARGIN-BOTTOM: 10px; HEIGHT: 214px; OVERFLOW: hidden
}
.tuantit {
	LINE-HEIGHT: 21px; MARGIN: 12px auto 0px; WIDTH: 189px; HEIGHT: 52px; COLOR: #787878; OVERFLOW: hidden
}
.tuantit A {
	FONT-SIZE: 14px
}
.tuantit A:link {
	COLOR: #008800
}
.tuantit A:visited {
	COLOR: #008800
}
.tuanprice {
	WIDTH: 205px; BACKGROUND: url(index2011.png) no-repeat -243px -165px; FLOAT: left; HEIGHT: 57px; MARGIN-LEFT: -1px
}
.tuanprice .price {
	LINE-HEIGHT: 21px; MARGIN-TOP: 17px; PADDING-LEFT: 10px; WIDTH: 105px; FLOAT: left; HEIGHT: 21px; COLOR: #fff; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.tuanprice .price STRONG {
	COLOR: #fff; FONT-SIZE: 20px
}
.tuanprice .detail {
	TEXT-ALIGN: center; LINE-HEIGHT: 21px; MARGIN-TOP: 17px; WIDTH: 66px; BACKGROUND: url(index2011.png) no-repeat -750px -285px; FLOAT: left; HEIGHT: 21px
}
.tuanpricelist {
	MARGIN: 0px auto; WIDTH: 189px; CLEAR: both
}
.tuanpricelist TABLE {
	WIDTH: 100%
}
.tuanpricelist TABLE TH {
	TEXT-ALIGN: left; PADDING-LEFT: 8px; HEIGHT: 29px; COLOR: #ff6600
}
.tuanpricelist TABLE TD {
	TEXT-ALIGN: left; PADDING-LEFT: 8px; HEIGHT: 29px; COLOR: #ff6600
}
.tuanpricelist TABLE TH {
	BORDER-BOTTOM: #ccc 1px solid
}
.tuanpricelist TABLE .delprice {
	COLOR: #767676
}
.mangotools {
	BORDER-BOTTOM: #fbc798 1px solid; BORDER-LEFT: #fbc798 1px solid; WIDTH: 208px; BACKGROUND: #fefef2; HEIGHT: 80px; OVERFLOW: hidden; BORDER-TOP: #fbc798 1px solid; BORDER-RIGHT: #fbc798 1px solid
}
.mangotools UL {
	WIDTH: 188px; MARGIN-LEFT: 19px; PADDING-TOP: 13px
}
.mangotools LI {
	PADDING-LEFT: 21px; WIDTH: 67px; BACKGROUND: url(index2011.png) no-repeat -963px -491px; FLOAT: left; HEIGHT: 22px; VERTICAL-ALIGN: top
}
.mangotools LI .gline {
	COLOR: #ccc; MARGIN-RIGHT: 7px
}
.mangotools LI.hb {
	BACKGROUND-POSITION: -963px -422px
}
.mangotools LI.qz {
	BACKGROUND-POSITION: -963px -513px
}
.mangotools LI.ly {
	BACKGROUND-POSITION: -963px -444px
}
.mangotools LI.hl {
	BACKGROUND-POSITION: -963px -534px
}
.mangotools LI.hc {
	BACKGROUND-POSITION: -963px -468px
}
.yen {
	FONT-FAMILY: Arial; COLOR: #ff6600
}
.pro_travel {
	BORDER-BOTTOM: #e1d8b0 1px solid; BORDER-LEFT: #e1d8b0 1px solid; WIDTH: 428px; HEIGHT: 409px; OVERFLOW: hidden; BORDER-TOP: #e1d8b0 1px solid; BORDER-RIGHT: #e1d8b0 1px solid
}
.contmid .pro_travel {
	MARGIN-BOTTOM: 10px
}
.pro_travel .protit {
	BACKGROUND: url(index_repeat.png) repeat-x left -152px
}
.pro_travel .protab {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #e1d8b0 1px solid; BACKGROUND: #fff; BORDER-TOP: #e1d8b0 1px solid; BORDER-RIGHT: #e1d8b0 1px solid
}
.citydrop {
	PADDING-RIGHT: 17px; BACKGROUND: url(index2011.png) no-repeat right -552px
}
.isclick {
	BORDER-BOTTOM: #e1d8b1 0px solid; BORDER-LEFT: #e1d8b1 1px solid; PADDING-LEFT: 8px; BORDER-TOP: #e1d8b1 0px solid; BORDER-RIGHT: #e1d8b1 1px solid
}
.a66x20 {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 66px; BACKGROUND: url(index2011.png) no-repeat -683px -285px; HEIGHT: 20px
}
#traveline {
	BORDER-BOTTOM: #e1d8b0 1px solid; POSITION: absolute; BORDER-LEFT: #e1d8b0 1px solid; LINE-HEIGHT: 23px; WIDTH: 73px; BACKGROUND: #fffdf4; BORDER-TOP: #e1d8b0 1px solid; BORDER-RIGHT: #e1d8b0 1px solid
}
.dropcity {
	BORDER-BOTTOM: #e1d8b0 1px solid; POSITION: absolute; BORDER-LEFT: #e1d8b0 1px solid; LINE-HEIGHT: 23px; WIDTH: 73px; BACKGROUND: #fffdf4; BORDER-TOP: #e1d8b0 1px solid; BORDER-RIGHT: #e1d8b0 1px solid
}
#traveline A {
	LINE-HEIGHT: 23px; TEXT-INDENT: 8px; DISPLAY: block
}
.dropcity A {
	LINE-HEIGHT: 23px; TEXT-INDENT: 8px; DISPLAY: block
}
#traveline A:hover {
	DISPLAY: block; BACKGROUND: #e2d9b2
}
.dropcity A:hover {
	DISPLAY: block; BACKGROUND: #e2d9b2
}
.travellines {
	CLEAR: both
}
.travellines LI {
	BORDER-BOTTOM: #e5e5e5 1px dashed; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 32px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.travellines LI .txtit {
	LINE-HEIGHT: 32px; WIDTH: 330px; FLOAT: left; HEIGHT: 32px
}
.travellines LI .price {
	TEXT-ALIGN: right; LINE-HEIGHT: 32px; WIDTH: 75px; FLOAT: right; COLOR: #ff6600
}
.travellines LI.totop {
	BORDER-BOTTOM: #e5e5e5 1px solid; HEIGHT: 61px; PADDING-TOP: 10px
}
.totop .detail {
	WIDTH: 81px; FLOAT: right; HEIGHT: 58px; OVERFLOW: hidden
}
.totop .detail .a66x20 {
	FLOAT: right; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 20px
}
.totop .detail .price {
	TEXT-ALIGN: right; LINE-HEIGHT: 23px; MARGIN-BOTTOM: 3px; FLOAT: right; HEIGHT: 23px; COLOR: #ff6600
}
.totop .detail .price STRONG {
	FONT-SIZE: 16px
}
.totop .viewimg {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 65px; FLOAT: left; HEIGHT: 50px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 8px; BORDER-RIGHT: #ccc 1px solid
}
.totop .viewtit {
	LINE-HEIGHT: 21px; WIDTH: 245px; FLOAT: left
}
.totop .viewtit A:link {
	COLOR: #ff6600
}
.totop .viewtit A:visited {
	COLOR: #ff6600
}
.totop .viewtit H3 {
	WIDTH: 245px; HEIGHT: 21px; OVERFLOW: hidden
}
.totop .viewtit P {
	WIDTH: 245px; HEIGHT: 21px; OVERFLOW: hidden
}
.pro_zuche {
	WIDTH: 428px; MARGIN-BOTTOM: 10px; HEIGHT: 149px; OVERFLOW: hidden
}
.pro_zuche .protit {
	BORDER-BOTTOM: #ff9900 2px solid; HEIGHT: 28px
}
.pro_zuche .prolist {
	WIDTH: 428px
}
.pro_zuche .prolist .tabnav {
	PADDING-LEFT: 15px
}
.pro_zuche .prolist UL {
	FLOAT: left
}
.pro_zuche .tabnav .viewmore {
	LINE-HEIGHT: 23px; BACKGROUND-POSITION: right -555px; FLOAT: right; HEIGHT: 23px; MARGIN-RIGHT: 10px
}
.zuchelist {
	WIDTH: 428px; PADDING-TOP: 4px
}
.zuchelist LI {
	LINE-HEIGHT: 24px; PADDING-LEFT: 15px; WIDTH: 199px; FLOAT: left
}
.zuchelist LI .carname {
	WIDTH: 126px; FLOAT: left; HEIGHT: 24px
}
.zuchelist LI .price {
	TEXT-ALIGN: right; WIDTH: 50px; PADDING-RIGHT: 10px; FLOAT: right; COLOR: #ff6600
}
.zuchecitys {
	BORDER-BOTTOM: #e1d8b0 1px solid; POSITION: absolute; BORDER-LEFT: #e1d8b0 1px solid; LINE-HEIGHT: 23px; WIDTH: 73px; BACKGROUND: #fffdf4; BORDER-TOP: #e1d8b0 1px solid; BORDER-RIGHT: #e1d8b0 1px solid
}
.zuchecitys A {
	LINE-HEIGHT: 23px; TEXT-INDENT: 8px; DISPLAY: block
}
.zuchecitys A {
	LINE-HEIGHT: 23px; TEXT-INDENT: 8px; DISPLAY: block
}
.zuchecitys A:hover {
	DISPLAY: block; BACKGROUND: #e2d9b2
}
.zuchecitys A:hover {
	DISPLAY: block; BACKGROUND: #e2d9b2
}
.pro_zuche .isclick {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #e1d8b1 1px solid; PADDING-LEFT: 8px; BORDER-TOP: #e1d8b1 1px solid; BORDER-RIGHT: #e1d8b1 1px solid
}
.pro_piao {
	WIDTH: 428px; HEIGHT: 140px; OVERFLOW: hidden
}
.pro_piao .protit {
	BORDER-BOTTOM: #ff9900 2px solid; HEIGHT: 28px
}
.pro_piao TABLE {
	WIDTH: 100%
}
.pro_piao TABLE TH {
	BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 32px; COLOR: #ff6600
}
.pro_piao TABLE TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.pro_piao .piaoname {
	TEXT-ALIGN: left; PADDING-LEFT: 15px; WIDTH: 271px
}
.pro_piao TABLE TD .piaoname {
	LINE-HEIGHT: 15px; WHITE-SPACE: nowrap; HEIGHT: 15px; OVERFLOW: hidden
}
.pro_piao TABLE .w65 {
	TEXT-ALIGN: center; WIDTH: 65px
}
.pro_piao TABLE .w82 {
	TEXT-ALIGN: right; WIDTH: 72px; PADDING-RIGHT: 10px
}
.delprice {
	FONT-STYLE: italic; FONT-FAMILY: Arial; TEXT-DECORATION: line-through
}
.pro_youlun {
	WIDTH: 428px; HEIGHT: 134px; OVERFLOW: hidden
}
.pro_youlun .protit {
	BORDER-BOTTOM: #ff9900 2px solid; HEIGHT: 28px
}
.pro_youlun .protit .protab {
	WIDTH: 108px
}
.youlunrecomm {
	PADDING-TOP: 10px
}
.youlunrecomm .imgwrap {
	MARGIN: 0px 6px 0px 15px; WIDTH: 120px; DISPLAY: inline; FLOAT: left; HEIGHT: 80px; OVERFLOW: hidden
}
.youlunrecomm .txtwrap {
	LINE-HEIGHT: 20px; WIDTH: 281px; FLOAT: left
}
.youlunrecomm .youlun {
	WIDTH: 281px; HEIGHT: 42px; OVERFLOW: hidden
}
.youlunrecomm .ylinfo {
	WIDTH: 281px; HEIGHT: 20px; COLOR: #777; OVERFLOW: hidden
}
.youlunrecomm STRONG {
	COLOR: #ff6600
}
.youlunrecomm EM {
	COLOR: #ff6600
}
.community {
	WIDTH: 428px; HEIGHT: 200px; OVERFLOW: hidden
}
.community .protit {
	BORDER-BOTTOM: #ff9900 2px solid; HEIGHT: 28px
}
.hottie {
	MARGIN: 0px auto; WIDTH: 410px; CLEAR: both; PADDING-TOP: 10px
}
.hottie LI {
	BORDER-BOTTOM: #e5e5e5 1px solid; MARGIN-BOTTOM: 7px; HEIGHT: 19px; VERTICAL-ALIGN: top
}
.hottie LI .commpanel {
	WIDTH: 61px; FLOAT: left; COLOR: #ff6600; BORDER-RIGHT: #e5e5e5 1px solid
}
.hottie LI .commtit {
	PADDING-LEFT: 10px; WIDTH: 276px; FLOAT: left; HEIGHT: 17px; OVERFLOW: hidden
}
.hottie LI .commuser {
	PADDING-LEFT: 8px; WIDTH: 53px; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 17px; COLOR: #999; OVERFLOW: hidden
}
.hottie LI .commpanel A:link {
	COLOR: #ff6600
}
.hottie LI .commpanel A:visited {
	COLOR: #ff6600
}
.recash {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 318px; MARGIN-BOTTOM: 10px; HEIGHT: 100px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.recashnews {
	LINE-HEIGHT: 25px; MARGIN: 4px auto; PADDING-LEFT: 36px; WIDTH: 261px; BACKGROUND: url(index2011.png) no-repeat -683px -194px; HEIGHT: 25px
}
.recashnews STRONG {
	COLOR: #ff6600; FONT-SIZE: 14px
}
.recash UL {
	MARGIN: 0px auto; WIDTH: 298px
}
.recash LI {
	BORDER-BOTTOM: #ccc 1px solid; LINE-HEIGHT: 33px; PADDING-LEFT: 31px; BACKGROUND: url(index2011.png) no-repeat -961px -345px; HEIGHT: 33px; COLOR: #999; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.recash LI.nobor {
	BORDER-BOTTOM: medium none; BACKGROUND-POSITION: -961px -380px
}
.recash LI STRONG {
	COLOR: #ff6600; FONT-SIZE: 18px
}
.recash LI EM {
	COLOR: #999
}
.recash LI .font24 {
	FONT-SIZE: 24px
}
.prolist {
	MARGIN: 0px auto; WIDTH: 298px; PADDING-TOP: 7px
}
.prolist .tabnav {
	BORDER-BOTTOM: #e5e5e5 1px solid; HEIGHT: 28px
}
.prolist .tabnavWrap {
	WIDTH: 264px; FLOAT: left; HEIGHT: 27px; OVERFLOW: hidden
}
.tabnav LI {
	FLOAT: left
}
.tabnav LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 21px; WIDTH: 37px; FLOAT: left; HEIGHT: 25px
}
.tabnav LI A.on {
	BACKGROUND: url(index2011.png) no-repeat -243px -314px; COLOR: #fff; FONT-WEIGHT: bold
}
.tabnav LI A.on:link {
	COLOR: #fff
}
.tabnav LI A.on:visited {
	COLOR: #fff
}
.prolist .fixtab {
	FLOAT: right; PADDING-TOP: 4px
}
.fixtab .prevtab {
	WIDTH: 13px; BACKGROUND: url(index2011.png) no-repeat -967px -596px; FLOAT: right; HEIGHT: 13px; MARGIN-LEFT: 4px
}
.fixtab .nexttab {
	WIDTH: 13px; BACKGROUND: url(index2011.png) no-repeat -967px -596px; FLOAT: right; HEIGHT: 13px; MARGIN-LEFT: 4px
}
.fixtab .prevtab {
	BACKGROUND-POSITION: -967px -582px
}
.prolist .tabpanel {
	CLEAR: both; PADDING-TOP: 4px
}
.tabpanel LI {
	LINE-HEIGHT: 24px; HEIGHT: 24px; VERTICAL-ALIGN: top
}
.tabpanel LI .txtit {
	WIDTH: 140px; FLOAT: left; HEIGHT: 24px
}
.tabpanel LI .price {
	PADDING-LEFT: 6px; WIDTH: 75px; FLOAT: left; COLOR: #ff6600
}
.tabpanel LI .repay {
	PADDING-LEFT: 6px; WIDTH: 75px; FLOAT: left; COLOR: #ff6600
}
.tabpanel LI .repay {
	WIDTH: 70px
}
.pro_flight {
	BORDER-BOTTOM: #bbdde2 1px solid; BORDER-LEFT: #bbdde2 1px solid; WIDTH: 318px; MARGIN-BOTTOM: 10px; HEIGHT: 297px; OVERFLOW: hidden; BORDER-TOP: #bbdde2 1px solid; BORDER-RIGHT: #bbdde2 1px solid
}
.pro_flight .protit {
	BACKGROUND: url(index_repeat.png) repeat-x left -32px
}
.pro_flight .protab {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #bbdde2 1px solid; WIDTH: 79px; BACKGROUND: #fff; BORDER-TOP: #bbdde2 1px solid; BORDER-RIGHT: #bbdde2 1px solid
}
.gncitys {
	WIDTH: 100%; CLEAR: both
}
.gncitys LI {
	BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 32px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.gncitys LI .airline {
	LINE-HEIGHT: 27px; WIDTH: 74px; FLOAT: left; HEIGHT: 27px; BORDER-RIGHT: #ccc 1px solid
}
.gncitys LI .price {
	TEXT-ALIGN: center; LINE-HEIGHT: 14px; WIDTH: 55px; FONT-FAMILY: Arial; FLOAT: left
}
.gncitys LI .price .yen {
	DISPLAY: block; COLOR: #ff6600
}
.gwtit {
	LINE-HEIGHT: 24px; MARGIN-TOP: -1px; PADDING-LEFT: 10px; BACKGROUND: #f1f1f1; HEIGHT: 24px; COLOR: #ff6600; CLEAR: both
}
.gjcitys {
	CLEAR: both; PADDING-TOP: 4px
}
.gjcitys LI {
	LINE-HEIGHT: 24px; HEIGHT: 24px; VERTICAL-ALIGN: top
}
.gjcitys LI .airline {
	WIDTH: 104px; FLOAT: left
}
.gjcitys LI .airlinetype {
	WIDTH: 54px; FLOAT: left
}
.gjcitys LI .price {
	WIDTH: 100px; FLOAT: left; COLOR: #ff6600
}
.pro_hotel {
	BORDER-BOTTOM: #f0d2a8 1px solid; BORDER-LEFT: #f0d2a8 1px solid; WIDTH: 318px; MARGIN-BOTTOM: 10px; HEIGHT: 145px; OVERFLOW: hidden; BORDER-TOP: #f0d2a8 1px solid; BORDER-RIGHT: #f0d2a8 1px solid
}
.pro_hotel .protit {
	BACKGROUND: url(index_repeat.png) repeat-x left -62px
}
.pro_hotel .protab {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #f0d2a8 1px solid; WIDTH: 78px; BACKGROUND: #fff; BORDER-TOP: #f0d2a8 1px solid; BORDER-RIGHT: #f0d2a8 1px solid
}
.pro_qmango {
	BORDER-BOTTOM: #b8d097 1px solid; BORDER-LEFT: #b8d097 1px solid; WIDTH: 318px; MARGIN-BOTTOM: 10px; HEIGHT: 145px; OVERFLOW: hidden; BORDER-TOP: #b8d097 1px solid; BORDER-RIGHT: #b8d097 1px solid
}
.pro_qmango .protit {
	BACKGROUND: url(index_repeat.png) repeat-x left -92px
}
.pro_qmango .protab {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #b8d097 1px solid; WIDTH: 94px; BACKGROUND: #fff; COLOR: #006600; BORDER-TOP: #b8d097 1px solid; BORDER-RIGHT: #b8d097 1px solid
}
.if_qmango {
	WIDTH: 320px; MARGIN-BOTTOM: 10px; HEIGHT: 147px; OVERFLOW: hidden
}
.chat {
	BORDER-BOTTOM: #b8d097 1px solid; BORDER-LEFT: #b8d097 1px solid; WIDTH: 318px; MARGIN-BOTTOM: 10px; HEIGHT: 106px; OVERFLOW: hidden; BORDER-TOP: #b8d097 1px solid; BORDER-RIGHT: #b8d097 1px solid
}
.chat .protit {
	BACKGROUND: url(index_repeat.png) repeat-x left -122px
}
.chat .protab {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #d5e4c0 1px solid; WIDTH: 79px; BACKGROUND: #fff; BORDER-TOP: #d5e4c0 1px solid; BORDER-RIGHT: #d5e4c0 1px solid
}
.chat .fixtab {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 8px
}
.chatwrap {
	MARGIN: 0px auto; WIDTH: 298px; HEIGHT: 70px; COLOR: #777; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 5px
}
.chatwrap LI {
	WIDTH: 298px; FLOAT: left; HEIGHT: 70px; OVERFLOW: hidden
}
.chathead {
	BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 24px
}
.chathead .hotelname {
	LINE-HEIGHT: 24px; WIDTH: 181px; FLOAT: left; HEIGHT: 24px; COLOR: #ff6600
}
.hotelname A:link {
	COLOR: #ff6600
}
.hotelname A:visited {
	COLOR: #ff6600
}
.chathead .fullcode {
	MARGIN-TOP: 5px; FLOAT: right
}
.chathead .chatcode {
	MARGIN-TOP: 5px; FLOAT: right
}
.chathead .fullcode {
	BORDER-LEFT: #ccc 1px solid; PADDING-LEFT: 7px
}
.chathead .fullcode EM {
	COLOR: #ff7e00
}
.chathead .chatcode {
	PADDING-RIGHT: 7px
}
.chathead .chatcode EM {
	COLOR: #7bad34
}
.chatbody {
	LINE-HEIGHT: 21px; PADDING-TOP: 3px
}
.chatbody .username {
	COLOR: #008800
}
.chatbody A:link {
	COLOR: #777
}
.chatbody A:visited {
	COLOR: #777
}
.hotline {
	BORDER-BOTTOM: #b8d097 1px solid; BORDER-LEFT: #b8d097 1px solid; WIDTH: 318px; HEIGHT: 126px; OVERFLOW: hidden; BORDER-TOP: #b8d097 1px solid; BORDER-RIGHT: #b8d097 1px solid
}
.hotline .protit {
	BACKGROUND: url(index_repeat.png) repeat-x left -92px
}
.hotline .protab {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #b8d097 1px solid; WIDTH: 94px; BACKGROUND: #fff; BORDER-TOP: #b8d097 1px solid; BORDER-RIGHT: #b8d097 1px solid
}
.hotlinelist {
	MARGIN: 0px auto; WIDTH: 306px; CLEAR: both; PADDING-TOP: 10px
}
.hotlinelist LI {
	WIDTH: 102px; FLOAT: left
}
.hotlinelist LI .imgwrap {
	BORDER-BOTTOM: #cbcbcb 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cbcbcb 1px solid; MARGIN: 0px auto; WIDTH: 78px; HEIGHT: 58px; OVERFLOW: hidden; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.hotlinelist LI .linetit {
	TEXT-ALIGN: center; LINE-HEIGHT: 23px; MARGIN: 0px auto; WIDTH: 98px; HEIGHT: 23px
}
.leftbaner {
	WIDTH: 320px; MARGIN-BOTTOM: 10px; HEIGHT: 60px; OVERFLOW: hidden
}
.rightbaner {
	TEXT-ALIGN: center; WIDTH: 210px; MARGIN-BOTTOM: 10px; HEIGHT: 78px; OVERFLOW: hidden
}
.botbaner {
	WIDTH: 100%; MARGIN-BOTTOM: 10px; HEIGHT: 80px; CLEAR: both
}
.whychoice {
	MARGIN-BOTTOM: 10px; HEIGHT: 140px; CLEAR: both
}
.whychoice .advantwrap {
	WIDTH: 921px; ZOOM: 1; BACKGROUND: url(index2011.png) no-repeat 0px -523px; MARGIN-LEFT: 52px; OVERFLOW: auto; PADDING-TOP: 18px
}
.whychoice .advpanel {
	FLOAT: left; HEIGHT: 105px; OVERFLOW: hidden; BORDER-RIGHT: #ccc 1px solid
}
.whychoice .w197 {
	WIDTH: 197px
}
.whychoice .w241 {
	WIDTH: 241px
}
.whychoice .w235 {
	WIDTH: 235px
}
.whychoice .w240 {
	WIDTH: 240px; BORDER-RIGHT: medium none
}
.advpanel H2 {
	LINE-HEIGHT: 27px; TEXT-INDENT: 36px; HEIGHT: 31px; COLOR: #333; FONT-SIZE: 12px; OVERFLOW: hidden
}
.w241 H2 {
	TEXT-INDENT: 69px
}
.w235 H2 {
	TEXT-INDENT: 63px
}
.w240 H2 {
	TEXT-INDENT: 75px
}
.whychoice .w197 UL {
	PADDING-LEFT: 32px
}
.whychoice .w241 UL {
	PADDING-LEFT: 66px
}
.whychoice .w235 UL {
	PADDING-LEFT: 60px
}
.whychoice .w240 UL {
	PADDING-LEFT: 71px
}
.whychoice LI {
	LINE-HEIGHT: 19px
}
.advant {
	LINE-HEIGHT: 52px; BACKGROUND: #f5f5f5; HEIGHT: 52px
}
.advant H2 {
	TEXT-INDENT: -9999px; WIDTH: 78px; BACKGROUND: url(index2011.png) no-repeat 22px -445px; FLOAT: left; HEIGHT: 52px; OVERFLOW: hidden
}
.advant UL {
	FLOAT: left
}
.advant LI {
	FLOAT: left
}
.advant STRONG {
	FLOAT: left
}
.advant SPAN {
	FLOAT: left
}
.advant EM {
	FLOAT: left
}
.advant UL {
	WIDTH: 900px
}
.advant LI STRONG {
	TEXT-INDENT: -9999px; MARGIN: 9px 4px 0px 0px; WIDTH: 40px; HEIGHT: 39px; COLOR: #64a604; FONT-SIZE: 14px; BORDER-RIGHT: #ccc 1px solid
}
.advant LI .gline {
	MARGIN: 9px 4px 0px; WIDTH: 2px; HEIGHT: 39px; COLOR: #ccc; FONT-SIZE: 0px
}
.advant EM {
	LINE-HEIGHT: 19px; COLOR: #777; PADDING-TOP: 7px
}
.advant EM.w141 {
	WIDTH: 141px
}
.advant EM.w201 {
	WIDTH: 201px
}
.advant EM.w174 {
	WIDTH: 174px
}
.advant EM.w186 {
	WIDTH: 186px
}
.ff {
	BACKGROUND: url(index2011.png) no-repeat -107px -458px
}
.pz {
	BACKGROUND: url(index2011.png) no-repeat -107px -458px
}
.cx {
	BACKGROUND: url(index2011.png) no-repeat -107px -458px
}
.bj {
	BACKGROUND: url(index2011.png) no-repeat -107px -458px
}
.pz {
	BACKGROUND-POSITION: -194px -458px
}
.cx {
	BACKGROUND-POSITION: -279px -458px
}
.bj {
	BACKGROUND-POSITION: -380px -458px
}
.footer {
	TEXT-ALIGN: center; CLEAR: both; BORDER-TOP: #ff6600 1px solid; PADDING-TOP: 10px
}
.footer P {
	HEIGHT: 22px
}
.footer .engtext {
	FONT-FAMILY: Arial
}
.addtowb {
	HEIGHT: 57px
}
.addtowb SPAN {
	FLOAT: left; MARGIN-LEFT: 16px
}
.addtowb A {
	FLOAT: left; MARGIN-LEFT: 16px
}
.addtowb SPAN {
	LINE-HEIGHT: 57px
}
.addtowb A {
	MARGIN-TOP: 11px; TEXT-INDENT: -9999px; WIDTH: 32px; BACKGROUND: url(index2011.png) no-repeat 0px -384px; HEIGHT: 32px; OVERFLOW: hidden
}
.addtowb A.sinawb {
	BACKGROUND-POSITION: 0px -384px
}
.addtowb A.tcwb {
	BACKGROUND-POSITION: -47px -384px
}
.addtowb A.qqzone {
	BACKGROUND-POSITION: -92px -384px
}
.adloading {
	BACKGROUND: url(loading.gif) #fff no-repeat center center
}
.datepicker {
	Z-INDEX: 9999; BORDER-BOTTOM: #ff6600 1px solid; POSITION: absolute; BORDER-LEFT: #ff6600 1px solid; MIN-HEIGHT: 178px; WIDTH: 142px; BACKGROUND: #fff; FONT-SIZE: 12px; BORDER-TOP: #ff6600 1px solid; TOP: 25px; BORDER-RIGHT: #ff6600 1px solid; LEFT: -9999px; _height: 178px
}
.pickerwrap {
	POSITION: relative; MIN-HEIGHT: 178px; WIDTH: 100%; _height: 178px
}
.pickwidth {
	WIDTH: 100%; ZOOM: 1; OVERFLOW: auto
}
.pickerbody {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; WIDTH: 175px; FLOAT: left; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.pickhead {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #ff9900; HEIGHT: 25px; COLOR: #fff
}
.pickweek {
	LINE-HEIGHT: 23px; BACKGROUND-COLOR: #fffdda; HEIGHT: 23px
}
.pickweek SPAN {
	TEXT-ALIGN: center; WIDTH: 25px; FLOAT: left
}
.dateswrap {
	WIDTH: 175px
}
.dateswrap LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 25px; FONT-FAMILY: Verdana, Arial, Helvetica; FLOAT: left; HEIGHT: 25px; COLOR: #ddd
}
.dateswrap LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 25px; DISPLAY: block; HEIGHT: 25px; FONT-WEIGHT: bold
}
.dateswrap LI A:link {
	COLOR: #008800; TEXT-DECORATION: none
}
.dateswrap LI A:visited {
	COLOR: #008800; TEXT-DECORATION: none
}
.dateswrap LI A.now {
	BACKGROUND: #feecaa
}
.dateswrap LI A.choice {
	BACKGROUND: #ff9900; COLOR: #fff
}
.dateswrap LI A:hover {
	BACKGROUND: #ff9900; COLOR: #fff
}
.prevMonth {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 25px; FONT-FAMILY: 宋体, Verdana; HEIGHT: 25px; COLOR: #fff; TOP: 0px; CURSOR: pointer
}
.nextMonth {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 25px; FONT-FAMILY: 宋体, Verdana; HEIGHT: 25px; COLOR: #fff; TOP: 0px; CURSOR: pointer
}
.prevMonth {
	LEFT: 0px
}
.nextMonth {
	RIGHT: 0px
}
.fm208x208 {
	WIDTH: 208px; HEIGHT: 208px
}
.fm396x228 {
	WIDTH: 406px; HEIGHT: 228px
}
.yselect {
	POSITION: absolute
}
.yearlist {
	FONT-SIZE: 12px
}
.setyear {
	CURSOR: pointer
}
.setmonth {
	CURSOR: pointer
}
.datepicker {
	BORDER-BOTTOM: #9d9789 1px solid; BORDER-LEFT: #9d9789 1px solid; MIN-HEIGHT: 168px; BORDER-TOP: #9d9789 1px solid; BORDER-RIGHT: #9d9789 1px solid; _height: 168px
}
.pickerbody {
	WIDTH: 142px
}
.pickweek SPAN {
	LINE-HEIGHT: 23px; WIDTH: 20px; HEIGHT: 23px
}
.dateswrap {
	WIDTH: 140px
}
.dateswrap LI {
	LINE-HEIGHT: 23px; WIDTH: 20px; HEIGHT: 23px
}
.dateswrap LI A {
	LINE-HEIGHT: 23px; WIDTH: 20px; HEIGHT: 23px; FONT-WEIGHT: normal
}
.dateswrap LI A:link {
	COLOR: #ff9900
}
.dateswrap LI A:visited {
	COLOR: #ff9900
}
.dateswrap LI A.choice {
	BACKGROUND: #ffcc66; COLOR: #ff6600
}
.dateswrap LI A:hover {
	BACKGROUND: #fff4d2; COLOR: #ff9900
}
.mgiframe {
	WIDTH: 210px
}
.mgSelect {
	Z-INDEX: 1001; BORDER-BOTTOM: #ff7a23 1px solid; POSITION: absolute; BORDER-LEFT: #ff7a23 1px solid; LIST-STYLE-TYPE: none; WIDTH: 210px; DISPLAY: none; BACKGROUND: #fcfcfc; COLOR: #ff7a23; BORDER-TOP: #ff7a23 1px solid; TOP: 310px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #ff7a23 1px solid; LEFT: 445px
}
.mgsltit {
	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; HEIGHT: 24px; COLOR: #787878
}
.mgcitylist {
	PADDING-TOP: 8px
}
.mgcitylist A {
	BORDER-BOTTOM: #fcfcfc 1px solid; BORDER-LEFT: #fcfcfc 0px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; DISPLAY: block; HEIGHT: 24px; OVERFLOW: hidden; BORDER-TOP: #fcfcfc 1px solid; CURSOR: pointer; BORDER-RIGHT: #fcfcfc 0px solid; PADDING-TOP: 0px
}
.mgcitylist A.current {
	BORDER-BOTTOM-COLOR: #ff7a23; BORDER-TOP-COLOR: #ff7a23; BACKGROUND: #ff9a00; BORDER-RIGHT-COLOR: #ff7a23; BORDER-LEFT-COLOR: #ff7a23
}
.mgcitylist A:link {
	COLOR: #333
}
.mgcitylist A:visited {
	COLOR: #333
}
.mgcitylist A:hover {
	BORDER-BOTTOM-COLOR: #ff7a23; BORDER-TOP-COLOR: #ff7a23; BACKGROUND: #fff4d2; BORDER-RIGHT-COLOR: #ff7a23; BORDER-LEFT-COLOR: #ff7a23
}
.mgcitylist SPAN {
	WHITE-SPACE: nowrap; HEIGHT: 24px; OVERFLOW: hidden
}
.mgcitylist EM {
	WHITE-SPACE: nowrap; HEIGHT: 24px; OVERFLOW: hidden
}
.mgcitylist SPAN {
	TEXT-ALIGN: right; WIDTH: 108px; FLOAT: right
}
.mgcitylist EM {
	WIDTH: 80px; FLOAT: left
}
.dynamicFrame {
	WIDTH: 745px; HEIGHT: 1475px; OVERFLOW: auto
}
#airports {
	WIDTH: 121px
}
.slidown {
	Z-INDEX: 9999; BORDER-BOTTOM: #ff7a23 1px solid; POSITION: absolute; BORDER-LEFT: #ff7a23 1px solid; BACKGROUND: #fff; BORDER-TOP: #ff7a23 1px solid; TOP: 0px; BORDER-RIGHT: #ff7a23 1px solid; LEFT: 0px
}
.slidown H2 {
	FONT-SIZE: 12px
}
.slidown H2 A {
	FONT-WEIGHT: normal
}
.slidown H2 A:link {
	COLOR: #000
}
.slidown H2 A:visited {
	COLOR: #000
}
.slidown .sltit {
	BORDER-BOTTOM: #999 1px solid; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; BACKGROUND: #ff9900; HEIGHT: 25px; COLOR: #fff; FONT-SIZE: 12px
}
.startaddr {
	WIDTH: 210px; DISPLAY: none; TOP: 220px; LEFT: 214px
}
.twolist {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.twolist UL {
	MARGIN: 0px auto; WIDTH: 210px; ZOOM: 1; OVERFLOW: auto
}
.twolist LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 21px; WIDTH: 65px; FLOAT: left; HEIGHT: 21px
}
.twolist LI A:link {
	COLOR: #333
}
.twolist LI A:visited {
	COLOR: #333
}
.twolist LI A:hover {
	COLOR: #333
}
.endaddr {
	WIDTH: 536px; DISPLAY: none; TOP: 240px; LEFT: 214px
}
.endaddr DL {
	MARGIN: 0px auto; WIDTH: 520px
}
.endaddr DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.endaddr DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.endaddr DL DT {
	BORDER-BOTTOM: #eaeaea 1px solid; LINE-HEIGHT: 25px; DISPLAY: block; HEIGHT: 25px; FONT-WEIGHT: bold
}
.endaddr DL DT A:link {
	COLOR: #333
}
.endaddr DL DT A:visited {
	COLOR: #333
}
.endaddr DL DD {
	WIDTH: 520px
}
.endaddr UL {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 520px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: auto; PADDING-TOP: 5px
}
.endaddr LI {
	LINE-HEIGHT: 21px; WIDTH: 65px; FLOAT: left; HEIGHT: 21px
}
.endaddr LI A:link {
	COLOR: #333
}
.endaddr LI A:visited {
	COLOR: #333
}
.endaddr LI A:hover {
	COLOR: #333
}
.endaddr .close {
	TEXT-INDENT: -999px; MARGIN: 5px 8px 0px 0px; WIDTH: 15px; BACKGROUND: url(closeicon.png) repeat-y left top; FLOAT: right; HEIGHT: 15px; OVERFLOW: hidden
}
.sladdr {
	WIDTH: 210px; DISPLAY: none; TOP: 248px; LEFT: 214px
}
.sllist A {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 0px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; DISPLAY: block; HEIGHT: 21px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 0px solid; PADDING-TOP: 1px
}
.sllist A.select {
	BORDER-BOTTOM-COLOR: #cfe1aa; BORDER-TOP-COLOR: #cfe1aa; BACKGROUND: #f1f9d9; BORDER-RIGHT-COLOR: #cfe1aa; BORDER-LEFT-COLOR: #cfe1aa
}
.sllist A:hover {
	BORDER-BOTTOM-COLOR: #eaeaea; BORDER-TOP-COLOR: #eaeaea; BACKGROUND: #f9fdee; BORDER-RIGHT-COLOR: #eaeaea; BORDER-LEFT-COLOR: #eaeaea
}
.sllist .nodata {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; DISPLAY: block; HEIGHT: 21px; COLOR: #ff6600; PADDING-TOP: 1px
}
.slpage {
	TEXT-ALIGN: center; LINE-HEIGHT: 15px; WIDTH: 132px; HEIGHT: 15px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.slpage A {
	MARGIN: 0px 3px
}
.holiCheck DL INPUT {
	COLOR: #999
}
#originID {
	COLOR: #333
}
.mgiframe {
	WIDTH: 210px
}
.selecter {
	Z-INDEX: 1001; BORDER-BOTTOM: #ff7a23 1px solid; POSITION: absolute; BORDER-LEFT: #ff7a23 1px solid; LIST-STYLE-TYPE: none; WIDTH: 210px; DISPLAY: none; BACKGROUND: #fcfcfc; COLOR: #ff7a23; BORDER-TOP: #ff7a23 1px solid; TOP: 310px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #ff7a23 1px solid; LEFT: 445px
}
.sltit {
	BORDER-BOTTOM: #ccc 1px solid; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; BACKGROUND: #ff9900; HEIGHT: 24px; COLOR: #fff
}
.sllist {
	PADDING-TOP: 8px
}
.sllist A {
	BORDER-BOTTOM: #fcfcfc 1px solid; BORDER-LEFT: #fcfcfc 0px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; DISPLAY: block; HEIGHT: 24px; OVERFLOW: hidden; BORDER-TOP: #fcfcfc 1px solid; CURSOR: pointer; BORDER-RIGHT: #fcfcfc 0px solid; PADDING-TOP: 0px
}
.sllist A.current {
	BORDER-BOTTOM-COLOR: #ff7a23; BORDER-TOP-COLOR: #ff7a23; BACKGROUND: #ff9a00; BORDER-RIGHT-COLOR: #ff7a23; BORDER-LEFT-COLOR: #ff7a23
}
.sllist A:link {
	COLOR: #333
}
.sllist A:visited {
	COLOR: #333
}
.sllist A:hover {
	BORDER-BOTTOM-COLOR: #ff7a23; BORDER-TOP-COLOR: #ff7a23; BACKGROUND: #fff4d2; BORDER-RIGHT-COLOR: #ff7a23; BORDER-LEFT-COLOR: #ff7a23
}
.sllist SPAN {
	WHITE-SPACE: nowrap; HEIGHT: 24px; OVERFLOW: hidden
}
.sllist EM {
	WHITE-SPACE: nowrap; HEIGHT: 24px; OVERFLOW: hidden
}
.sllist SPAN {
	TEXT-ALIGN: right; WIDTH: 108px; FLOAT: right
}
.sllist EM {
	WIDTH: 80px; FLOAT: left
}
