.f11 {
	FONT-SIZE: 11px
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f15 {
	FONT-SIZE: 15px
}
.f16 {
	FONT-SIZE: 16px
}
.f17 {
	FONT-SIZE: 17px
}
.f18 {
	FONT-SIZE: 18px
}
.lh12 {
	LINE-HEIGHT: 12px
}
.lh13 {
	LINE-HEIGHT: 13px
}
.lh14 {
	LINE-HEIGHT: 14px
}
.lh15 {
	LINE-HEIGHT: 15px
}
.lh16 {
	LINE-HEIGHT: 16px
}
.lh17 {
	LINE-HEIGHT: 17px
}
.lh18 {
	LINE-HEIGHT: 18px
}
.lh19 {
	LINE-HEIGHT: 19px
}
.lh20 {
	LINE-HEIGHT: 20px
}
.lh21 {
	LINE-HEIGHT: 21px
}
.lh22 {
	LINE-HEIGHT: 22px
}
.lh23 {
	LINE-HEIGHT: 23px
}
.lh24 {
	LINE-HEIGHT: 24px
}
.lh25 {
	LINE-HEIGHT: 25px
}
.lh26 {
	LINE-HEIGHT: 26px
}
.lh27 {
	LINE-HEIGHT: 27px
}
.lh28 {
	LINE-HEIGHT: 28px
}
.lh29 {
	LINE-HEIGHT: 29px
}
.lh30 {
	LINE-HEIGHT: 30px
}
.lh31 {
	LINE-HEIGHT: 31px
}
.lh32 {
	LINE-HEIGHT: 32px
}
.lh33 {
	LINE-HEIGHT: 33px
}
.lh34 {
	LINE-HEIGHT: 34px
}
.lh35 {
	LINE-HEIGHT: 35px
}
.lh36 {
	LINE-HEIGHT: 36px
}
.lh37 {
	LINE-HEIGHT: 37px
}
.lh50 {
	LINE-HEIGHT: 50px
}
.sp {
	LETTER-SPACING: -1px
}
.eng {
	FONT-FAMILY: Arial
}
.1cb {
	BACKGROUND-COLOR: #60b340
}
.2cb {
	BACKGROUND-COLOR: #fee7f1
}
.3cb {
	BACKGROUND-COLOR: #b6baef
}
.5cb {
	BACKGROUND-COLOR: #f1508c
}
.6cb {
	BACKGROUND-COLOR: #018ea9
}
.orange {
	COLOR: #ff6300
}
.orange A:link {
	COLOR: #ff6300
}
.orange A:visited {
	COLOR: #ff6300
}
.orange A:hover {
	COLOR: #ff6300
}
.orange2 {
	COLOR: #ffad76
}
.orange2 A:link {
	COLOR: #ffad76
}
.orange2 A:visited {
	COLOR: #ffad76
}
.orange2 A:hover {
	COLOR: #ffad76
}
.orange3 {
	COLOR: #fe0000
}
.orange3 A:link {
	COLOR: #fe0000
}
.orange3 A:visited {
	COLOR: #fe0000
}
.orange3 A:hover {
	COLOR: #fe0000
}
.black {
	COLOR: #000
}
.black A:link {
	COLOR: #000
}
.black A:visited {
	COLOR: #000
}
.black A:hover {
	COLOR: #000
}
.yell {
	COLOR: #ffe045
}
.yell A:link {
	COLOR: #ffe045
}
.yell A:visited {
	COLOR: #ffe045
}
.yell A:hover {
	COLOR: #ffe045
}
.yell2 {
	COLOR: #472a00
}
.yell2 A:link {
	COLOR: #472a00
}
.yell2 A:visited {
	COLOR: #472a00
}
.yell2 A:hover {
	COLOR: #783800
}
.white {
	COLOR: #ffffff
}
.white A:link {
	COLOR: #ffffff
}
.white A:visited {
	COLOR: #ffffff
}
.white A:hover {
	COLOR: #d1d1d1
}
.red {
	COLOR: #ca1d0c
}
.red A:link {
	COLOR: #ca1d0c
}
.red A:visited {
	COLOR: #ca1d0c
}
.red A:hover {
	COLOR: #ca1d0c
}
.red2 {
	COLOR: #ca3300
}
.red2 A:link {
	COLOR: #ca3300
}
.red2 A:visited {
	COLOR: #ca3300
}
.red2 A:hover {
	COLOR: #ca3300
}
.red3 {
	COLOR: #74001e
}
.red3 A:link {
	COLOR: #74001e
}
.red3 A:visited {
	COLOR: #74001e
}
.red3 A:hover {
	COLOR: #74001e
}
.gray {
	COLOR: #c8c8c8
}
.gray A:link {
	COLOR: #c8c8c8
}
.gray A:visited {
	COLOR: #c8c8c8
}
.gray A:hover {
	COLOR: #c8c8c8
}
.gray2 {
	COLOR: #5b5c5e
}
.gray2 A:link {
	COLOR: #5b5c5e
}
.gray2 A:visited {
	COLOR: #5b5c5e
}
.gray2 A:hover {
	COLOR: #c00
}
.blue {
	COLOR: #012ebb
}
.blue A:link {
	COLOR: #012ebb
}
.blue A:visited {
	COLOR: #012ebb
}
.blue A:hover {
	COLOR: #012ebb
}
.blue2 {
	COLOR: #004588
}
.blue2 A:link {
	COLOR: #004588
}
.blue2 A:visited {
	COLOR: #004588
}
.blue2 A:hover {
	COLOR: #004588
}
.green {
	COLOR: #5f5e02
}
.green A:link {
	COLOR: #5f5e02
}
.green A:visited {
	COLOR: #5f5e02
}
.green A:hover {
	COLOR: #5f5e02
}
.gray3 {
	COLOR: #747879
}
.gray3 A:link {
	COLOR: #747879
}
.gray3 A:visited {
	COLOR: #747879
}
.gray3 A:hover {
	COLOR: #747879
}
.blue {
	COLOR: #0c528c
}
.blue A:link {
	COLOR: #0c528c
}
.blue A:visited {
	COLOR: #0c528c
}
.blue A:hover {
	COLOR: #0c528c
}
