#columns {
	WIDTH: 984px; FLOAT: left
}
.column {
	WIDTH: 328px
}
.widget {
	WIDTH: 328px; DISPLAY: block
}
.widget-head {
	MARGIN: 0px; PADDING-LEFT: 20px; WIDTH: 298px; PADDING-RIGHT: 10px; HEIGHT: 30px
}
.tdbiaoti {
	TEXT-ALIGN: left; LINE-HEIGHT: 32px; WIDTH: 100px; HEIGHT: 32px
}
.more {
	WIDTH: 55px; FLOAT: left; HEIGHT: 30px; MARGIN-LEFT: 100px
}
